footer a.text-white:hover {
  color: #cce0ff; 
  transition: color 0.3s ease;
}
.gradiente {
 background: linear-gradient(90deg, #1b263b, #174880, #1b263b);
  color: #ffffff;      
}

.footerBorda {

  border: 2px solid rgba(14, 17, 62, 0.386);
  transition: all 0.3s ease;
}

.linkHover {
  color: white;             
  text-decoration: none;      
  transition: all 0.3s ease; 
}

.linkHover:hover {
  text-decoration: underline;
  color: #6565e7!important ;     
}