.cardAcademico {
  background-color: rgba(50, 50, 50, 0.8); 
  border-radius: 10px;
  color: white;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.6s ease-out;
}

.animarUp {
  animation: slideUp 0.6s forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.gradiente {
  background: linear-gradient(90deg,  #32466c, #174880, #32466c);
  border: 0;
}


.animarUp:nth-child(2) { animation-delay: 0.2s; }
.animarUp:nth-child(3) { animation-delay: 0.4s; }



.card {
  background-color: #1b263b;
  color: white;
  border: none;
  border-radius: 15px;
}
.cardImgTop {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


